.card-wrapper {
  padding: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 40px 10px;
  position: relative;
  width: var(--card-w);
  height: var(--card-h);
  transform-style: preserve-3d;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 10px 20px var(--primary-shadow);
  border-radius: 2em;
  transition: all 250ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 10px 30px var(--primary);
}

.alt {
  border-radius: 6em 1em 6em 1em;
  overflow: hidden;
}

/* TODO: make the stuff below cool again? */
/* .card:nth-child(even) {
  top: 40px;
}

.alt:nth-child(even) {
  top: -40px;
} */

.card:hover {
  transform: scale(1.05);
}

.abs-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  background-color: var(--primary);
  padding: 20px;
  height: var(--content-h);
  border-radius: 0 0 2em 2em;
  clip-path: polygon(0 -100%, 100% 0, 100% 100%, 0 100%);
}

.img-wrapper {
  position: relative;
  z-index: 1;
  width: var(--card-w);
  height: var(--img-h);
}

.svg {
  position: absolute;
  z-index: 3;
  top: -35px;
  left: 0;
}

.svg-alt {
  position: absolute;
  z-index: 3;
  top: -65px;
  left: 0;
}

.social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 300px) {
  .abs-content {
    top: -120px;
  }
  .card {
    --card-w: 300px;
    --card-h: 420px;
    --img-h: 400px;
    --content-h: 170px;
  }
}
/* Ipad, more like Ipaid hahahahahahahahahhahaha */
@media screen and (min-width: 800px) {
  .abs-content {
    top: -100px;
  }
  .card-wrapper {
    gap: 0px;
  }
  .card {
    --card-h: 450px;
    --img-h: 400px;
    --content-h: 180px;
  }
}

@media screen and (min-width: 1600px) {
  .abs-content {
    top: -100px;
  }
  .card-wrapper {
    gap: 20px;
  }
  .card {
    --card-w: 325px;
    --img-h: 450px;
    --card-h: 500px;
  }
}
