.contact {
  height: 600px;
  background: var(--primary-bg-gradient);
}

.contact-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
