.img-wrapper {
  margin: 60px 0;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  transition: all 250ms ease-in-out;
}

.alt-img {
  height: 300px;
  border-radius: 2em;
  box-shadow: 0px 10px 20px var(--primary-shadow);
}

.img-wrapper:hover {
  transform: rotate(-5deg);
}

.alt-img:hover {
  box-shadow: 0px 10px 30px var(--primary);
}

.default,
.alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.alt {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

@media screen and (min-width: 300px) {
  .default,
  .alt {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .default,
  .alt {
    text-align: left;
    justify-content: space-between;
  }
}
